<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Photography</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" charset="utf-8" />	
	<![endif]-->
</head>

<body>
	<div id="page">
		<div id="header">
			<div id="connect">
				<a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook" title="Facebook"></a>
				<a href="http://twitter.com/fwtemplates" target="_blank" class="twitter" title="Twitter"></a>
 			</div>
			
			<a href="index.html" id="logo"><img src="images/logo.jpg" alt="LOGO" /></a>
			
			<ul id="navigation">
				<li><a href="index.html">home</a></li>
				<li><a href="about.html">about</a></li>
				<li class="selected blog"><a href="blog.html">blog</a></li>
				<li><a href="gallery.html">gallery</a></li>
				<li><a href="news.html">news &amp; events</a></li>
				<li><a href="contacts.html">contact us</a></li>
			</ul>
		</div> <!-- /#header -->
		
		<div id="body">
			<hr class="blog"/>
			<h1 class="blog">Blog</h1>
			
			<div id="contents">
				<div class="blog">
					<ul class="lists">
						<li>
							<p>
								<b>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free.</b>
								<span class="author"><i>by</i> Morbi Indiams</span>
								You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
							</p>
						</li>
						<li>
							<p>
								<b>If you're having problems editing this website template</b>
								<span class="author"><i>by</i> Morbi Indiams</span>
								then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.
							</p>
						</li>
						<li>
							<p>
								<b>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website	Templates</a></b>
								<span class="author"><i>by</i> Morbi Indiams</span>
								and find what you&acute;re looking for. But if you don&acute;t find any
								website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you&acute;re looking for something different,
								something special.
							</p>
						</li>
					</ul>
					<div>
						<h3>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</h3>
						<p>
							This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
							You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
							If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.
						</p>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet dui gravida tellus lobortis ullamcorper. Sed sit amet interdum magna. Nulla vulputate mollis lectus, sit amet porttitor massa 
							ultricies volutpat. Vestibulum in feugiat dolor. Pellentesque in adipiscing orci. Maecenas eu ipsum a odio varius mollis vitae at ante. Aenean faucibus suscipit velit at tincidunt. Mauris pharetra, 
							sem quis convallis gravida, enim nisl sagittis quam, vitae ultricies nunc ligula a metus. Etiam elementum, odio vitae ultrices sollicitudin, quam mi pulvinar libero, ut porttitor odio quam ut lectus. 
							Nam sodales consequat arcu, a aliquet nibh fringilla ut. Curabitur at nunc vel massa accumsan viverra. Phasellus at purus turpis, id congue elit. Nam molestie tristique lacus, eget ullamcorper neque 
							auctor vel. Ut fringilla erat id elit consequat accumsan. Vestibulum sollicitudin sagittis accumsan. Aliquam posuere congue purus sed feugiat. Morbi quis nibh sed erat gravida viverra ultricies non 
							erat. In condimentum, nunc a ultricies egestas, mi tortor mollis tellus, eget sodales lorem quam rhoncus nunc. Duis massa diam, fringilla in laoreet quis, facilisis a sapien. Pellentesque a nisi erat, 
							vitae hendrerit erat. Praesent ac congue quam. Vestibulum in fermentum enim. Aenean mattis pretium ullamcorper. Vivamus eu dui felis, euismod egestas quam. Ut mi ligula, lacinia ut tincidunt eget, 
							congue luctus metus. Aenean sit amet enim et eros tincidunt egestas et eget est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nec tellus quis 
							enim pharetra molestie. Pellentesque interdum euismod pulvinar. . Aenean sit amet enim et eros tincidunt egestas et eget est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames 
							ac turpis egestas. Donec nec tellus quis enim pharetra molestie. Pellentesque interdum euismod pulvinar.
						</p>

						<p>
							Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can 
							modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.
						</p>
					</div>
				</div>
			</div>
		</div> <!-- /#body -->
	</div> <!-- /#page -->
	<div id="footer">
		&copy; Copyright 2011. All rights reserved
	</div> <!-- /#footer -->
</body>
</html>