<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Photography</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" charset="utf-8" />	
	<![endif]-->
</head>

<body>
	<div id="page">
		<div id="header">
			<div id="connect">
				<a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook" title="Facebook"></a>
				<a href="http://twitter.com/fwtemplates" target="_blank" class="twitter" title="Twitter"></a>
 			</div>
			
			<a href="index.html" id="logo"><img src="images/logo.jpg" alt="LOGO" /></a>
			
			<ul id="navigation">
				<li><a href="index.html">home</a></li>
				<li><a href="about.html">about</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="gallery.html">gallery</a></li>
				<li><a href="news.html">news &amp; events</a></li>
				<li class="selected contact"><a href="contacts.html">contact us</a></li>
			</ul>
		</div> <!-- /#header -->
		
		<div id="body">
			<hr class="contact"/>
			<h1 class="contact">Contact Information</h1>
			
			<div id="contents">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet dui gravida tellus lobortis ullamcorper. Sed sit amet interdum magna. Nulla vulputate mollis lectus, sit amet porttitor massa ultricies volutpat.</p>
				<p>
					<b>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a><br/> 
					for you, for free. You can replace all this text with your own text.</b><br/>
					1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345<br/>
					Tel: + 7958 917 9747 2481 000<br/>
					Fax: + 7958 917 9747 2481 000<br/>
					Email: emailus@thisemail.com
				</p>

				<p>
					<b>If you're having problems editing this website template, then don't hesitate<br/> 
					to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</b><br/>
					1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345<br/>
					Tel: + 7958 917 9747 2481 000<br/>
					Fax: + 7958 917 9747 2481 000<br/>
					Email: emailus@thisemail.com
				</p>

				<p>
					<b>You can use them to design websites for clients, so long as you agree<br/> 
					with the <a href="http://www.freewebsitetemplates.com/about/termsofuse/">Terms of Use</a>. You can even remove all our links if you want to.</b><br/>
					1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345<br/>
					Tel: + 7958 917 9747 2481 000<br/>
					Fax: + 7958 917 9747 2481 000<br/>
					Email: emailus@thisemail.com
				</p>
			</div>
		</div> <!-- /#body -->
	</div> <!-- /#page -->
	<div id="footer">
		&copy; Copyright 2011. All rights reserved
	</div> <!-- /#footer -->
</body>
</html>