<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Photography</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" charset="utf-8" />	
	<![endif]-->
</head>

<body>
	<div id="page">
		<div id="header">
			<div id="connect">
				<a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook" title="Facebook"></a>
				<a href="http://twitter.com/fwtemplates" target="_blank" class="twitter" title="Twitter"></a>
 			</div>
			
			<a href="index.html" id="logo"><img src="images/logo.jpg" alt="LOGO" /></a>
			
			<ul id="navigation">
				<li class="selected"><a href="index.html">home</a></li>
				<li><a href="about.html">about</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="gallery.html">gallery</a></li>
				<li><a href="news.html">news &amp; events</a></li>
				<li><a href="contacts.html">contact us</a></li>
			</ul>
		</div> <!-- /#header -->
		
		<div id="body">
			<div id="main">
				<img src="images/bulldog.jpg" alt="Img" />
				<div class="details">
					<h3>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>
						<span class="author"><i>by</i> Pha Sellmu</span>
					</h3>
					<p>
						for you, for free. You can replace all this text with your own text.
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
						If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.
					</p>
				</div>
				<div id="favorites">
					<h2>Favorite <span>of the</span> Week Photos</h2>
					<p><img src="images/cat.jpg" alt="Favorites" /><span class="author"><i>by</i> Rhon Cusnon</span></p>
					<p><img src="images/owl.jpg" alt="Favorites" /><span class="author"><i>by</i> J.U.</span></p>
					<p><img src="images/turtle.jpg" alt="Favorites" /><span class="author"><i>by</i> Liza C.</span></p>
					<a href="gallery.html">Go to Gallery</a>
				</div>
			</div>
			<div id="sidebar">
				<ul id="featured">
					<h4>Editors Pick</h4>
					<li>
						<img src="images/dogs.jpg" alt="Img" />
						<em>Nulla mauris lorem vulputate vitae placerat ac et sapien</em>
						<span class="author"><i>by</i> Morbi Indiam</span>
					</li>
					<li>
						<em>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</em>
						<span class="author"><i>by</i> Morbi Indiam</span>
					</li>
					<li>
						<img src="images/horse.jpg" alt="Img" />
						<em>Vuluptate vitae placerat sapien igula augue</em>
						<span class="author"><i>by</i> Morbi Indiam</span>
					</li>
					<li class="last">
						<em>Praesent at elit eros, sit amet congue velit. Cum sociis natoque penatibus magnis dis</em>
						<span class="author"><i>by</i> Morbi Indiam</span>
					</li>
				</ul>
			</div>
			<div id="articles">
				<div id="blogs">
					<h4>Blog</h4>
					<ul>
						<li>
							<p>
								<img src="images/photographer.jpg" alt="Img" />
								<a href="blog.html">Mauris iaculis neque</a>
								<span class="author"><i>by</i> Morbi Indiam</span>
								Fusce dapibus vitae elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada
							</p>
						</li>
						<li>
							<p>
								<a href="blog.html">This website template has been designed by Free Website Templates for you, for free.</a>
								<span class="author"><i>by</i> Vistibulum</span>
								Nunc eget mauris orci, ac rutrum elit. Cum sociis penatibus et magnis dis parturient montes, ascetur
							</p>
						</li>
						<li>
							<p>
								<img src="images/butterfly.jpg" alt="Img" />
								<a href="blog.html">Aenediam dolor putate vehicula</a>
								<span class="author"><i>by</i> Morbi Indiam</span>
								Proin mollis, nunc in portal lobortis magnis dis parturient monter ascetur
							</p>
						</li>
					</ul>
				</div>
				<div id="news">
					<h4>News &amp; Events</h4>
					<ul>
						<li>
							<a href="news.html">Jan</a>
							<span class="day">05 - 06</span>
							<p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
						</li>
						<li>
							<a href="news.html">Mar</a>
							<span class="day">15</span>
							<p>Justo In a libero</p>
							<span class="day">17-20</span>
							<p>Praesent at elit eros <br/>sit amet congue velit</p>
						</li>
						<li>
							<a href="news.html">APR</a>
							<span class="day">20</span>
							<p>Nulla ultricies lacinia fringilla <br/>Donec mauris lorem</p>
						</li>
					</ul>
				</div>
				<div id="updates">
					<h4>Daily Updates</h4>
					<p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
					<form action="" method="">
						<input type="text" value="Name" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
						<input type="text" value="Enter Email Address" class="txtfield" onblur="javascript:if(this.value==''){this.value=this.defaultValue;}" onfocus="javascript:if(this.value==this.defaultValue){this.value='';}" />
						<input type="submit" value="" class="button" />
					</form>
					<ul class="navigation">
						<li class="selected"><a href="index.html">Home</a></li>
						<li><a href="news.html">News &amp; Events</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contacts.html">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- /#body -->
	</div> <!-- /#page -->
	<div id="footer">
		&copy; Copyright 2011. All rights reserved
	</div> <!-- /#footer -->
</body>
</html>