<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Photography</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/ie.css" type="text/css" charset="utf-8" />	
	<![endif]-->
</head>

<body>
	<div id="page">
		<div id="header">
			<div id="connect">
				<a href="http://facebook.com/freewebsitetemplates" target="_blank" class="facebook" title="Facebook"></a>
				<a href="http://twitter.com/fwtemplates" target="_blank" class="twitter" title="Twitter"></a>
 			</div>
			
			<a href="index.html" id="logo"><img src="images/logo.jpg" alt="LOGO" /></a>
			
			<ul id="navigation">
				<li><a href="index.html">home</a></li>
				<li><a href="about.html">about</a></li>
				<li><a href="blog.html">blog</a></li>
				<li><a href="gallery.html">gallery</a></li>
				<li class="selected news"><a href="news.html">news &amp; events</a></li>
				<li><a href="contacts.html">contact us</a></li>
			</ul>
		</div> <!-- /#header -->
		
		<div id="body">
			<hr class="news"/>
			<h1 class="news">News &amp; Events</h1>
			
			<div id="contents">
				<h3>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</h3>
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.
				</p>
				
				<div class="photos">
					<img src="images/cat3.jpg" alt="Preview" class="first" />
					<img src="images/dogs2.jpg" alt="Preview" />
				</div>
				
				<p>
					Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What&acute;s more, they&acute;re
					absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with
					the <a href="http://www.freewebsitetemplates.com/about/termsofuse/">Terms of Use</a>. You can even remove all our links if you want to.
				</p>
			</div>
		</div> <!-- /#body -->
	</div> <!-- /#page -->
	<div id="footer">
		&copy; Copyright 2011. All rights reserved
	</div> <!-- /#footer -->
</body>
</html>