/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.syihy.com)
    Update:     2013-06-8, 18:30 GMT+1
    Version:    1.0

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:
    
        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background:url("../../images/site/bg.gif") 0 0 repeat-x; font:0.8em/1.5 "arial", sans-serif;}

h1, h2, h3, h4, h5, h6, p, address, blockquote, table, dl, fieldset {margin:15px 0;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

ul.ul-01 {margin:15px 0; list-style:none;}
ul.ul-01 li {padding:2px 0 2px 25px; background:url("../../images/site/ul-01.gif") 0 50% no-repeat; font-size:85%;}

ul.ul-list {margin:15px 0; list-style:none;}
ul.ul-list li {padding:1px 0;}
ul.ul-list span.date {padding-right:10px;}

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {width:960px; margin:0 auto; overflow:hidden;}

    #header {position:relative; height:90px; padding:30px 20px 15px 20px;}

        #logo {margin:0;}
    
        #nav {position:absolute; top:80px; right:20px; margin:0;}
        #nav span {margin:0 8px;}
        #nav #nav-active {font-weight:bold; text-decoration:none;}
    
    #tray {position:relative; width:960px; height:45px; background:url("../../images/site/tray.gif") 0 0 no-repeat; overflow:hidden; font:bold 90%/1 "tahoma",sans-serif;}
    #tray ul {margin:0 20px; list-style:none;}
    #tray li {display:inline;}
    #tray li a {display:block; float:left; padding:17px 20px 17px 18px; background:url("../../images/site/tray-separator.gif") 100% 0 no-repeat; text-decoration:none;}
    #tray li a:hover {background:url("../../images/site/tray-hover.gif");}
    #tray li#tray-active a {background:url("../../images/site/tray-active.gif");}

        #search {position:absolute; top:8px; right:20px;}
        #search div {position:relative; width:185px;}
        
        #search #search-input {position:absolute; top:0; left:0; width:150px; height:30px; background:url("../../images/site/search-input.gif") 0 0 no-repeat; overflow:hidden;}
        #search #search-input input {width:136px; margin:8px; border:0; font:100%/1 "arial",sans-serif;}
        #search #search-submit {position:absolute; top:0; right:0; width:30px;}

    #footer {clear:both; padding:20px 20px 40px 20px; font-size:85%;}
    #footer p {margin:0;}


/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#col-top {width:960px; height:5px; margin-top:15px; background:url("../../images/site/col-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#col-bottom {width:960px; height:5px; margin-bottom:15px; background:url("../../images/site/col-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#col {position:relative; padding:15px 30px 15px 20px; background:url("../../images/site/col.gif") 0 0 repeat-y;}

    #ribbon {position:absolute; top:-5px; left:0; width:100px; height:100px; background:url("../../images/site/ribbon.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden; z-index:10;}

    #col-browser {position:relative; float:left; width:280px; height:215px; background:url("../../images/site/browser.gif") 0 0 no-repeat;}
    #col-browser img {position:absolute; top:28px; left:10px;}

    #col-text {float:right; width:400px; padding-top:15px; line-height:1.7;}

        #slogan {position:relative; width:289px; height:33px; overflow:hidden; margin:0; padding:0; font-size:180%;}
        #slogan span {display:block; position:absolute; top:0; left:0; z-index:1; width:100%; height:100%; margin:0; padding:0; background:url("../tmp/slogan.gif") 0 0 no-repeat;}
        #btns {margin-top:25px; margin-bottom:0;}

#cols2-top {width:960px; height:5px; margin-top:15px; background:url("../../images/site/cols2-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols2-bottom {width:960px; height:5px; margin-bottom:15px; background:url("../../images/site/cols2-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols2 {background:url("../../images/site/cols2.gif") 0 0 repeat-y;}

    #cols2 #col-left {float:left; width:595px; padding:20px;}
    #cols2 #col-right {float:right; width:268px; margin-right:1px; padding:20px;}
    
        #cols2 #col-left h4, #cols2 #col-right h4 {margin:0; font-size:100%;}
        #cols2 #col-left .title {background:url("../../images/site/dot.gif") 0 50% repeat-x;}
        #cols2 #col-left .title h4 {display:inline; padding-right:10px;}
        #cols2 #col-left .title span {padding-left:10px;}

        #cols2 .box {margin-top:15px;}
        #cols2 #col-right h4 {background:url("../../images/site/dot-02.gif") 0 50% repeat-x;}
        #cols2 #col-right h4 span {padding-right:10px;}
        #cols2 .col-right-img {float:left; width:65px;}
        #cols2 .col-right-text {float:right; width:190px;}
        #cols2 .col-right-text p {margin:0;}

#cols3-top {width:960px; height:5px; margin-top:15px; background:url("../../images/site/cols3-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols3-bottom {width:960px; height:5px; margin-bottom:15px; background:url("../../images/site/cols3-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
#cols3 {background:url("../../images/site/cols3.gif") 0 0 repeat-y;}

    .col {float:left; width:308px; padding:0 1px; margin-right:15px;}
    .col.last {margin-right:0;}
    .col h3 {margin:0; padding:7px 15px 12px 50px; background:url("../../images/site/cols3-title.gif") 20px 40% no-repeat; font-size:120%;}

        .col-text {padding:20px; border-top:1px solid #DFDFDF;}
        .col-text p {margin:0;}
        .col-text ul {margin-bottom:0;}
        .col-more {padding:10px 10px 1px 0; text-align:right;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.ico-comment {padding-left:18px; background:url("../../images/site/ico-comment.gif") 0 50% no-repeat;}
.ico-rss {padding-left:18px; background:url("../../images/site/ico-rss.gif") 0 50% no-repeat;}

.smaller {font-size:85%;}


/**/

.PagingFirstButtonCss
{
    width:37px;
    height:20px;
    cursor:pointer;
    background-image:url("../../images/page/first.gif");
}

.PagingNextButtonCss
{
    width:43px;
    height:20px;
    cursor:pointer;
    background-image:url("../../images/page/next.gif");
}

.PagingBackButtonCss
{
    width:43px;
    height:20px;
    cursor:pointer;
   background-image:url("../../images/page/back.gif");
}

.PagingLastButtonCss
{
    width:37px;
    height:20px;
    cursor:pointer;
    background-image:url("../../images/page/last.gif");
}

a
{
    color: #000000;
    text-decoration: none;
}

a:hover
{
    color: #000000;
    text-decoration: underline;
}

.PagingGoButtonCss
{
    width:37px;
    height:20px;
    cursor:pointer;
    background-image:url("../../images/page/go.gif");
}

/*content*/
.logo_login02{width:auto; height:30px; padding: 50px 0 10px 5px;}
.content_login{width:840px; overflow:hidden; padding:0; text-align:center; background:url(../../images/reg/top_line01.gif) 0 0 repeat-y;}
.content_login .top_bg{width:100%; height:10px; overflow:hidden; background:url(../../images/reg/pic_topbg.gif) 0 0 no-repeat;}
.content_login .btm_bg{width:100%; height:10px; overflow:hidden; background:url(../../images/reg/pic_btmbg.gif) 0 0 no-repeat;}
.content_login .top_bgtwo{width:100%; height:10px; overflow:hidden; background:url(../../images/reg/pic_topbg02.gif) 0 0 no-repeat;}

.login_top{width:auto; border-bottom:1px solid #ff6c1e; padding:15px 0 10px; height:23px; margin: 0 20px;}
.login_top li{padding:0 50px 0 10px; margin:0; float:left;}
.login_cont01{border-bottom:0px dashed #666; padding-bottom:0px; text-align:left; margin:0 20px;}
.login_cont01 h5{font-weight:bold; font-size:14px; color:#000; margin:30px 0 20px; line-height:30px; padding:0 20px;  background:url(../../images/reg/pic_linebg.gif) 0 0 repeat-x;}
.login_cont01 .table{padding:0 30px;}
.login_cont01 .table{font-size:14px;}
.login_cont01 .table table tr td{padding:5px 3px; height:18px; line-height:18px; text-align:left;}
.login_cont01 .table table tr td.right{text-align:right; padding-top:6px;}
.login_cont01 .table table tr td dfn{color:#f00; padding-right:5px; font-style:normal;}
.login_cont01 .inputbox{width:250px; height:18px; float:left; line-height:18px; color:#333; border:1px solid #cacaca; background:#fff; padding:3px; margin-right:5px; display:inline;}
.login_cont01 .selected{width:258px; }
.login_cont01 div.oneline{width:auto; height:31px; }
.login_cont01 div.twoline{width:auto; height:27px; color:#666; font-size:12px;}
.login_cont01 p.error_one{padding:0 0 0 10px; margin:0; float:left; }
.login_cont01 p.error_one img{float:left; padding:3px 5px 3px 0;}
.login_cont01 p.error_one span{border:1px solid #f00; background:#f9f7e0; line-height:20px; font-size:12px; height:20px;display:block; float:left; padding:0 5px;}

a.btn_logintwo{background:url(../../images/reg/pic_button01.gif) left top no-repeat; width:auto; height:42px; line-height:42px;padding-left:20px; display:inline-block; text-decoration:none; margin-right:10px; font-size:14px;cursor:pointer;}
a.btn_logintwo span{background:url(../../images/reg/pic_button01.gif) right top no-repeat; height:42px; line-height:42px; color:#fff; font-weight:normal; padding-right:20px; display:inline-block; font-size:20px; font-family:ºÚÌå;}
a.btn_logintwo:link,a.btn_logintwo:visited,a.btn_logintwo:hover, a.btn_logintwo:active{text-decoration:none;}
.login_cont01 div.twoline{width:auto; height:27px; color:#666; font-size:12px;}

.login_cont03{border:1px solid #edd28b; line-height:28px;  text-align:left; padding:30px 50px; overflow:hidden; margin:50px; background:#fffdee; color:#000; font-weight:bold; font-size:14px; width:638px;}
.login_cont03 p.cont{float:right; color:#000; width:560px; margin:0; padding:0;}
.login_cont03 p.cont em{color:#f00; font-style:normal;}
.login_cont03 a:link, .content_login .login_cont03 a:visited, .content_login .login_cont03 a:hover, .content_login .login_cont03 a:active{color:#f00; text-decoration:none;}
.login_cont03 a:hover{color:#f00; text-decoration:underline;}
.login_cont03 img{float:left; padding-right:20px;}
.login_cont03 span{color:#f00;}
.login_cont03 p.conttwo{float:right; color:#000; width:560px; margin:0; padding:0; text-align:left; font-weight:normal;}
.login_cont03 p.conttwo em{color:#f00; font-style:normal;}
.login_cont03 p.conttwo span{width:100%; font-weight:bold; padding-bottom:20px; display:inline-block; color:#000; font-size:16px;}
.login_cont03 p.conttwo span.center{text-align:center;}
.login_cont03 p.conttwo span.content{width:100%; padding:0; font-weight:normal; font-size:14px; text-align:center;}
.login_cont03 p.conttwo a:hover{text-decoration:underline;}

.indexTopAd
{ 
    top:0px;
    position:fixed;
    _position:absolute;
    _bottom:auto;
    _margin-top:0px;
    _top:expression(eval(document.documentElement.scrollTop)); 
    width:100%;
    background:url("../../images/site/bg.gif");
}

.c3{margin:0 auto;font-size:14px;line-height:25px;padding:0 10px;}
.c3 img{margin:20px auto;}

.content_bg
{
   margin-top:10px;
}
.left_content
{
    width: 600px;
    float: left;
    border-top: #EAEFF5 1px solid;
}
.right_content
{
    width: 360px;
    float: right;
}

.div_line
{
    height:100%;
    border: 1px #ffcea2 solid;
    border-top-color: rgb(255, 206, 162);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(255, 206, 162);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(255, 206, 162);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(255, 206, 162);
    border-left-style: solid;
    border-left-width: 1px;    
}

.div_line_no_right
{
    height:100%;
    border: 1px #ffcea2 solid;
    border-top-color: rgb(255, 206, 162);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgb(255, 206, 162);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(255, 206, 162);
    border-left-style: solid;
    border-left-width: 1px;    
}