<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Impress by www.phpjz.cn</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="css/reset.css" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
<link rel="stylesheet" media="screen,projection" type="text/css" href="css/style.css" />
<link rel="stylesheet" media="print" type="text/css" href="css/print.css" />
</head>
<body>
<div id="main">
  <div id="header">
    <h1 id="logo"><a href="http://www.phpjz.cn/"><img src="tmp/logo.gif" alt="" /></a></h1>
    <hr class="noscreen" />
    <div id="nav"> <a href="http://www.phpjz.cn/" id="nav-active">Homepage</a> <span>|</span> <a href="http://www.phpjz.cn/">About us</a> <span>|</span> <a href="http://www.phpjz.cn/">Support</a> <span>|</span> <a href="http://www.phpjz.cn/">Contact</a> </div>
  </div>
  <div id="tray">
    <ul>
      <li id="tray-active"><a href="http://www.phpjz.cn/">Homepage</a></li>
      <li><a href="http://www.phpjz.cn/">Live demo</a></li>
      <li><a href="http://www.phpjz.cn/">About product</a></li>
      <li><a href="http://www.phpjz.cn/">Testimonials</a></li>
      <li><a href="http://www.phpjz.cn/">Download</a></li>
      <li><a href="http://www.phpjz.cn/">Purchase</a></li>
    </ul>
    <div id="search" class="box">
      <form action="http://www.phpjz.cn/" method="get">
        <div class="box">
          <div id="search-input"><span class="noscreen">Search:</span>
            <input type="text" size="30" name="" value="Search" />
          </div>
          <div id="search-submit">
            <input type="image" src="design/search-submit.gif" value="OK" />
          </div>
        </div>
      </form>
    </div>
    <hr class="noscreen" />
  </div>
  <div id="col-top"></div>
  <div id="col" class="box">
    <div id="ribbon"></div>
    <div id="col-browser"><a href="http://www.phpjz.cn/"><img src="tmp/browser.gif" width="255" height="177" alt="" /></a></div>
    <div id="col-text">
      <h2 id="slogan"><span></span>Place for your slogan.</h2>
      <p>Lorem ipsum dolor sit amet, <strong>consectetuer adipiscing</strong> elit. Nunc feugiat. In a massa. In feugiat pharetra lacus. In non arcu nec libero pharetra rutrum. Curabitur hendrerit <a href="http://www.phpjz.cn/">elementum diam</a>. Vestibulum mattistae sapien eu <a href="http://www.phpjz.cn/">vehicula accumsan</a>, erat quam porttitor orci, id ornare est eros et arcu. In odio. Morbi eu nisia et dolor dictum elementum. Vivamus commodo sodales felis. Nulla gravida tristique metus.</p>
      <p id="btns"> <a href="http://www.phpjz.cn/"><img src="design/btn-tell.gif" alt="" /></a> <a href="http://www.phpjz.cn/"><img src="design/btn-purchase.gif" alt="" /></a> </p>
    </div>
  </div>
  <div id="col-bottom"></div>
  <hr class="noscreen" />
  <div id="cols3-top"></div>
  <div id="cols3" class="box">
    <div class="col">
      <h3><a href="http://www.phpjz.cn/">Product I.</a></h3>
      <p class="nom t-center"><a href="http://www.phpjz.cn/"><img src="tmp/200x140.gif" alt="" /></a></p>
      <div class="col-text">
        <p>Lorem ipsum dolor sit amet <a href="http://www.phpjz.cn/">consectetuer</a> amit adipiscing elit. <strong>Nunc feugiat.</strong> Inam massa est feugiat <a href="http://www.phpjz.cn/">pharetra</a> lacus. In non arcu nec liberom pharetra rutrum est.</p>
        <ul class="ul-01">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
      <div class="col-more"><a href="http://www.phpjz.cn/"><img src="design/cols3-more.gif" alt="" /></a></div>
    </div>
    <hr class="noscreen" />
    <div class="col">
      <h3><a href="http://www.phpjz.cn/">Product II.</a></h3>
      <p class="nom t-center"><a href="http://www.phpjz.cn/"><img src="tmp/200x140.gif" alt="" /></a></p>
      <div class="col-text">
        <p>Lorem ipsum dolor sit amet consectetuer amit adipiscing elit. <strong>Nunc feugiat.</strong> Inam massa est feugiat <a href="http://www.phpjz.cn/">pharetra</a> lacus. In non arcu nec liberom pharetra rutrum est.</p>
        <ul class="ul-01">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
      <div class="col-more"><a href="http://www.phpjz.cn/"><img src="design/cols3-more.gif" alt="" /></a></div>
    </div>
    <hr class="noscreen" />
    <div class="col last">
      <h3><a href="http://www.phpjz.cn/">Product III.</a></h3>
      <p class="nom t-center"><a href="http://www.phpjz.cn/"><img src="tmp/200x140.gif" alt="" /></a></p>
      <div class="col-text">
        <p>Lorem ipsum dolor sit amet consectetuer amit adipiscing elit. <strong>Nunc feugiat.</strong> Inam massa est feugiat pharetra lacus. In non arcu nec liberom <a href="http://www.phpjz.cn/">pharetra rutrum est</a>.</p>
        <ul class="ul-01">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
        </ul>
      </div>
      <div class="col-more"><a href="http://www.phpjz.cn/"><img src="design/cols3-more.gif" alt="" /></a></div>
    </div>
    <hr class="noscreen" />
  </div>
  <div id="cols3-bottom"></div>
  <div id="cols2-top"></div>
  <div id="cols2" class="box">
    <div id="col-left">
      <div class="title"> <span class="f-right"><a href="http://www.phpjz.cn/" class="ico-rss">RSS feed</a></span>
        <h4>Blog</h4>
      </div>
      <ul class="ul-list nomb">
        <li><span class="f-right"><a href="http://www.phpjz.cn/" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="http://www.phpjz.cn/" class="article">Lorem ipsum dolor sit amet</a></li>
        <li><span class="f-right"><a href="http://www.phpjz.cn/" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="http://www.phpjz.cn/" class="article">Lorem ipsum dolor sit amet</a></li>
        <li><span class="f-right"><a href="http://www.phpjz.cn/" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="http://www.phpjz.cn/" class="article">Lorem ipsum dolor sit amet</a></li>
        <li><span class="f-right"><a href="http://www.phpjz.cn/" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="http://www.phpjz.cn/" class="article">Lorem ipsum dolor sit amet</a></li>
        <li><span class="f-right"><a href="http://www.phpjz.cn/" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="http://www.phpjz.cn/" class="article">Lorem ipsum dolor sit amet</a></li>
      </ul>
    </div>
    <hr class="noscreen" />
    <div id="col-right">
      <h4><span>Testimonials</span></h4>
      <div class="box">
        <div class="col-right-img"><img src="tmp/65x65.gif" width="65" height="65" alt="" /></div>
        <div class="col-right-text">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc feugiat. <strong>In a massa.</strong> In feugiat pharetra lacus. In non arcu nec libero pharetra rutrum.</p>
          <p class="high smaller">&ndash; <cite>John Doe, Some Corporation</cite></p>
        </div>
      </div>
    </div>
  </div>
  <div id="cols2-bottom"></div>
  <hr class="noscreen" />
  <div id="footer">
    <p class="f-right"><a href="http://www.phpjz.cn/">Free web templates</a> by <a href="http://www.phpjz.cn/">www.phpjz.cn</a></p>
    <p>Copyright &copy;&nbsp;2009 <strong><a href="http://www.phpjz.cn/">Your Name</a></strong>, All Rights Reserved &reg;</p>
  </div>
</div>
</body>
</html>
