*
{
    font-size: 12px;
    scrollbar-face-color: white;
    scrollbar-highlight-color: white;
    scrollbar-shadow-color: #00CC00;
    scrollbar-3dlight-color: #00CC00;
    scrollbar-arrow-color: #00CC00;
    scrollbar-track-color: white;
    scrollbar-darkshadow-color: white;
    scrollbar-base-color: #00CC00;
}


form
{
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 1px;
    margin: 1px;
    padding-top: 1px;
}

a
{
    color: #000000;
    text-decoration: none;
}
a:hover
{
    color: #000000;
    text-decoration: underline;
}
a:visited
{
    color: #000000;
    text-decoration: none;
}

P
{
    font-size: 12px;
    margin: 1px;
}

div
{
    font-size: 12px;
    line-height: 23px;
}

/*右侧头部
*/
.headerBg
{
    width: 172px;
    height: 31px;
    background-image: url(../images/left_headbg.gif);
}

/*
内容
*/
.contentBg
{
    width: 160px;
    text-align: center;
    cursor: hand;
    font-family: 宋体;
    font-size: 9pt;
    line-height: 21px;
}

/*Modal Popup
背景
*/
.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup
{
    background-color: #ffffdd;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 250px;
}




.modalPopup p
{
    padding: 5px;
}

.modalDragPopup
{
    cursor: move;
    background-color: #DDDDDD;
    border: solid 1px Gray;
    color: Black;
    height: 20px;
    text-align: right;
}


.boxoff strong
{
    background: url( "../images/boxoff.gif" ) no-repeat scroll right -10px transparent;
    display: block;
    float: left;
    font-size: 0;
    height: 10px;
    line-height: 100px;
    overflow: hidden;
    width: 8px;
}

.ptr
{
    border: 1px solid #E2E2E2;
    clear: both;
    height: 25px;
    overflow: hidden;
}


/*按钮样式*/
.buttonCss
{
    font-family: "Tahoma" , "宋体";
    font-size: 9pt;
    color: #003399;
    border: 1px #003399 solid;
    color: #006699;
    border-bottom: #93bee2 1px solid;
    border-left: #93bee2 1px solid;
    border-right: #93bee2 1px solid;
    border-top: #93bee2 1px solid;
    background-color: #e8f4ff;
    cursor: hand;
    font-style: normal;
}
/*
验证控件样式
*/
.validatorCalloutHighlight
{
    background-color: lemonchiffon;
}

/*
日历样式
*/
.MyCalendar .ajax__calendar_container
{
    border: 1px solid #646464;
    background-color: lemonchiffon;
    color: Gray;
}
/*
首页菜单
*/
.staticMenuItemStyle
{
    text-align: center;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 0;
}

.staticMenuItemSelectedStyle
{
    border: solid 1px #000;
}

.staticHoverStyle
{
    background-image: url(../Images/bg-black.gif);
}

.menuItem
{
    display: block;
}

.dynamicMenuItemStyle
{
    display: block;
    border: solid 1px #000;
    background-color: Silver;
    color: Red;
    z-index: 200;
    position: relative;
}

.background
{
    border: solid 1px #000;
    background-image: url(../Images/bg-black.gif);
}

.NavigationMenu
{
    font-family: Verdana;
    font-size: 10pt;
    color: #FFF;
    font-weight: 600;
    z-index: 101;
    background-image: url(../Images/bg-black.gif);
}

#h
{
    background: #CCCFFF;
    padding: 5px 0 6px 10px;
}

#e
{
    border: solid 1px #919191;
    background-image: url(../Images/sub.gif);
    padding: 0 0 1px;
}

.menuItemMouseOver, .menuItemSelected
{
    border: solid 1px Navy;
    background-image: url(../Images/bg-black.gif);
}

.NavigationMenu A:link, .NavigationMenu A:visited, .NavigationMenu A:active
{
    text-decoration: none;
    color: #FFF;
    display: block;
}

.currentNodeStyle, .nodeStyle, .rootNodeStyle, a.siteMapPath
{
    text-decoration: none;
    font-family: Verdana;
    font-size: 10pt;
}

.dt
{
    border: 1px solid #E2E2E2;
    clear: both;
    height: 25px;
    overflow: hidden;
}


