<?xml version="1.0" encoding="utf-8" ?>

<settings>
	<add key="datasource" value="C:\SpringNetIBatisNetDemo\DataBase\SpringNetIBatisNetDemo.mdb"/>
  <!--<add key="datasource" value="E6E1A9C6B4704B2\SQL2005"/>
  <add key="database" value="SpringNetIBatisNetDemo"/>
  <add key="username" value="sa"/>
  <add key="password" value="111313"/>-->
</settings>
