<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlrewritingnet" restartOnExternalChanges="true" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
	<!--伪地址配置-->
	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
		<rewrites>
			<!--首页-->
			<add name="RewriteOnDomain1" virtualUrl="^http\://(.*)/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" rewrite="Domain" ignoreCase="true"/>
			<!--注册-->
			<add name="RewriteOnDomain2" virtualUrl="^http\://(.*)/register.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member/Register.aspx" rewrite="Domain" ignoreCase="true"/>
			<!--登录-->
			<add name="RewriteOnDomain3" virtualUrl="^http\://(.*)/login.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member/MemLogin.aspx" rewrite="Domain" ignoreCase="true"/>
			<!--产品-->
			<add name="RewriteOnDomain4" virtualUrl="^http\://(.*)/product/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member/CarDetails.aspx?proID=$2" rewrite="Domain" ignoreCase="true"/>
		</rewrites>
	</urlrewritingnet>
	<appSettings>
    <!--网站名称-->
    <add key="SiteNme" value="syihy.com"/>
		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="false"/>
		<!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->
		<add key="ConnectionString" value="server=PC2012083019TBV\SQLEXPRESS;database=syihy;uid=sa;pwd=12345678;multipleactiveresultsets=True;"/>
		<!--权限模块连接字符串-->
		<add key="ConnectionStringAccounts" value="server=zhy;database=codematic;uid=sa;pwd="/>
		<add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd="/>
		<!--虚拟目录名称(如果是站点，则为空) -->
		<add key="VirtualPath" value=""/>
		<!--登录页地址 -->
		<add key="LoginPage" value="admin/Login.aspx"/>
		<!--默认菜单是否是展开状态-->
		<add key="MenuExpanded" value="false"/>
		<!--实体对象内容缓村的时间（分钟）-->
		<add key="ModelCache" value="30"/>
		<!--后台页面大小-->
		<add key="PageSize" value="5"/>
    <!--前台页面大小-->
    <add key="IndexPageSize" value="25"/>
		<!--排序类型  1为升序-->
		<add key="intOrder" value="1"/>
		<!--设定寻找fckeditor路径及设定上传文件保存路径-->
		<add key="FCKeditor:BasePath" value="~/Manage/fckEditor/"/>
		<add key="FCKeditor:UserFilesPath" value="~/UserFiles/"/>
		<!--首页图片-->
		<add key="indexPic" value="upload/shouye/"/>
		<!--网站承诺-->
		<add key="sitePromise" value="../inc/sitepromise.inc"/>
    <!--首页Top新闻条数-->
    <add key="indexNewsTop" value="6"/>
    <!--首页新闻列表条数-->
    <add key="indexNewsList" value="15"/>
    <!--首页新闻列表条数-->
    <add key="IndexPageBlogSize" value="15"/>
   
	</appSettings>
	<!--<connectionStrings>
      <add name="SQLConnString1" connectionString="data source=192.168.1.100;uid=zhy;password=123456;database=Samddy_Cms" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<connectionStrings>
		<add name="ConnectionString" connectionString="data source=syihy;uid=sa;password=12345678;database=syihy" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Forms">
			<forms name="AdminUser" loginUrl="Login.aspx" protection="None" timeout="200" defaultUrl="admin/index.htm"></forms>
		</authentication>

    <customErrors mode="RemoteOnly" defaultRedirect="error/general.htm">
      <error statusCode="403" redirect="error/403.htm" />
      <error statusCode="404" redirect="error/404.htm" />
    </customErrors>
    
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    
  
  </system.web>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<location path="Manage/index.htm">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Manage/wfLeftMenu.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Manage/wfTop.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
    <location path="Manage/Default.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>
  <system.webServer>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
    
  </system.webServer>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="level" value="INFO"/>
        <arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>

  <quartz>
    <add key="quartz.scheduler.instanceName" value="SyihyScheduler" />
    <add key="quartz.scheduler.instanceId" value="AUTO" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="5" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <add key="quartz.jobStore.useProperties" value="true" />
    <add key="quartz.jobStore.clustered" value="true" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
    <add key="quartz.jobStore.dataSource" value="myDS" />
    <add key="quartz.dataSource.myDS.connectionString" value="server=PC2012083019TBV\SQLEXPRESS;database=syihy;uid=sa;pwd=12345678;multipleactiveresultsets=True;" />
    <add key="quartz.dataSource.myDS.provider" value="SqlServer-20" />

    <add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz"/>
    <add key="quartz.scheduler.exporter.port" value="5555"/>
    <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler"/>
    <add key="quartz.scheduler.exporter.channelType" value="tcp"/>
  </quartz>
</configuration>
